@inherits LayoutComponentBase

<PageTitle>frontend</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://tobiasfenster.io" target="_blank">Author</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
